@model IEnumerable<ProjectES.Models.Assay>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subj.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subj.SubjectType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssayTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subj.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subj.SubjectType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssayTitle)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AssayId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AssayId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
